<div class="page-body-wrapper">
{{>header}}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash ">Danh sách đen</h4>
                                </div>
                            </div>
                            <div class="table-responsive  mt-3">
                                <table id="example" class="table table-striped table-bordered table-hover"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                      
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Zalo</th>
                                            <th>Địa chỉ</th>
                                            <th>Role</th>
                                            <th>Hoạt động</th> <!-- Thêm cột Action -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each blacklistData}}
                                        <tr>
                          
                                            <td>{{email }}</td>
                                            <td>{{phonenumber }}</td>
                                            <td>{{zalonumber }}</td>
                                            <td>{{address}}</td>
                                            <td>{{role }}</td>
                        
                                            <td>
                                        
                                                <a href="/blacklist/delete/{{id}}" class="btn btn-danger btn-sm" title="Delete user" id="deleteBtn" data-id={{id}}><i class="bi bi-trash"></i> </a>
                                                <a href="/blacklist/unban/{{id}}" class="btn btn-success btn-sm" title="Unban user"id="BanBtn" data-id={{id}}><i class="bi bi-person-x"></i> </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    $(document).ready(function () {
        new DataTable('#example');
        $(document).on('click', '#deleteBtn', function(e) {
        e.preventDefault();
        const id =  $(this).data('id');
        swal({
            title: "Bạn có chắc không?",
            text: "Sau khi xóa, bạn sẽ không thể khôi phục lại!",
            icon: "warning",
            buttons: [true, "Có, xóa nó đi"],
            dangerMode: true,
        }).then((willDelete)=>{
            if(willDelete)
            {
                $.ajax({
                    type: 'GET',
                    url: '/blacklist/delete/' + id,
                    success: function(response) {
                        console.log(response);
                        // Xử lý thành công, có thể làm gì đó nếu cần thiết
                        swal("Đã xóa!", "Người thu gom đã được xóa", "success").then(() => {
                            window.location.href = "/blacklist";
                        });
                    },
                    error: function(xhr, status, error) {
                        if(xhr.responseText == "document_delete_restricted"){
                        // Xử lý lỗi, có thể làm gì đó nếu cần thiết
                            swal("Lỗi! Đã có lỗi xảy ra!", {
                                text: error,
                                icon: "error",
                            });
                        }
                    }
                });
            }
        })
        // Gửi yêu cầu AJAX để xóa người dùng

        });

    // Xử lý sự kiện click cho nút unban
        $(document).on('click', '#BanBtn', function(e) {
            e.preventDefault();
            var id = $(this).data('id');
            swal({
                title: "Bạn có chắc không?",
                text: "Sau khi gỡ cấm, người dùng sẽ hoạt động bình thường!",
                icon: "warning",
                buttons: [true, "Có, gỡ cấm đi"],
                dangerMode: true,
            }).then((willDelete)=>{
                if(willDelete)
                {
                    $.ajax({
                        type: 'GET',
                        url: '/blacklist/unban/' + id,
                        success: function(response) {
                            console.log(response);
                            // Xử lý thành công, có thể làm gì đó nếu cần thiết
                            swal("Đã gỡ cấm!", "Người dùng đã được gỡ cấm", "success").then(() => {
                                window.location.href = "/blacklist";
                            });
                        },
                        error: function(xhr, status, error) {
                            if(xhr.responseText == "document_ban_restricted"){
                            // Xử lý lỗi, có thể làm gì đó nếu cần thiết
                                swal("Lỗi! Đã có lỗi xảy ra!", {
                                    text: error,
                                    icon: "error",
                                });
                            }
                        }
                    });
                }
            })
            // Gửi yêu cầu AJAX để xóa người dùng

        });
    });
</script>