<div class="page-body-wrapper">
{{>header}}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash ">Black List</h4>
                                </div>
                            </div>
                            <div class="table-responsive  mt-3">
                                <table id="example" class="table table-striped table-bordered table-hover"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                      
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Zalo number</th>
                                            <th>Address</th>
                                            <th>Role</th>
                                            <th>Action</th> <!-- Thêm cột Action -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each blacklistData}}
                                        <tr>
                          
                                            <td>{{email }}</td>
                                            <td>{{phonenumber }}</td>
                                            <td>{{zalonumber }}</td>
                                            <td>{{address}}</td>
                                            <td>{{role }}</td>
                        
                                            <td>
                                        
                                                <a href="/blacklist/delete/{{id}}" class="btn btn-danger btn-sm" title="Delete user blacklist" onclick="return confirm('Are you sure you want to delete this user?')"><i class="bi bi-trash"></i> </a>
                                                <a href="/blacklist/unban/{{id}}" class="btn btn-success btn-sm" title="Unban user" onclick="return confirm('Are you sure you want to unban this user?')"><i class="bi bi-person-x"></i> </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    $(document).ready(function () {
        new DataTable('#example');
    });
</script>