<div class="page-body-wrapper">
{{>header}}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash ">Yêu cầu</h4>
                                </div>
                            </div>
                            <div class="table-responsive  mt-3">
                                <table id="example" class="table table-striped table-bordered table-hover"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Số điện thoại</th>
                                            <th>Địa chỉ</th>
                                            <th>Mô tả</th>
                                            <th>Trạng thái</th>
                                            <th>Loại rác</th>
                                            <th>Giá</th>
                                            <th>Khối lượng</th>
                                            <th>Ngày yêu cầu</th>
                                            <th>Hoạt động</th> <!-- Thêm cột Action -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each requestData}}
                                        <tr>
                                            <td>{{phonenumber }}</td>
                                            <td>{{address }}</td>
                                            <td>{{description }}</td>
                                            <td>{{status}}</td>
                                            <td>{{trashtype}}</td>
                                            <td>{{price}}</td>
                                            <td>{{amount}}</td>
                                            <td>{{createAt}}</td>
                                            <td>
                                         
                                                <a href="/requests/{{id}}" class="btn btn-primary btn-sm" title="Edit user" onclick="return"><i class="bi bi-pencil"></i> </a>
                                                <a href="/requests/delete/{{id}}" class="btn btn-danger btn-sm" title="Delete user" id="deleteBtn" data-id={{id}}><i class="bi bi-trash"></i> </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    $(document).ready(function () {
        new DataTable('#example');
        $(document).on('click', '#deleteBtn', function(e) {
        e.preventDefault();
        const id =  $(this).data('id');
        swal({
            title: "Bạn có chắc không?",
            text: "Sau khi xóa, bạn sẽ không thể khôi phục lại!",
            icon: "warning",
            buttons: [true, "Có, xóa nó đi"],
            dangerMode: true,
        }).then((willDelete)=>{
            if(willDelete)
            {
                $.ajax({
                    type: 'GET',
                    url: '/requests/delete/' + id,
                    success: function(response) {
                        console.log(response);
                        // Xử lý thành công, có thể làm gì đó nếu cần thiết
                        swal("Đã xóa!", "Yêu cầu người dùng đã được xóa", "success").then(() => {
                            window.location.href = "/requests";
                        });
                    },
                    error: function(xhr, status, error) {
                        if(xhr.responseText == "document_delete_restricted"){
                        // Xử lý lỗi, có thể làm gì đó nếu cần thiết
                            swal("Lỗi! Đã có lỗi xảy ra!", {
                                text: error,
                                icon: "error",
                            });
                        }
                    }
                });
            }
        })
        // Gửi yêu cầu AJAX để xóa người dùng

        });
    });
</script>