<div class="page-body-wrapper">
{{>header}}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash ">Người thu gom</h4>
                                </div>
                                <div>
                                    <a href="/collectors/create" class="btn btn-success align-self-center" role="button" >Thêm người thu mua</a>
                                </div>
                            </div>
                            <div class="table-responsive  mt-3">
                                <table id="example" class="table table-striped table-bordered table-hover"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Ảnh đại diện</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Zalo</th>
                                            <th>Địa chỉ</th>
                                            <th>Vai trò chính</th>
                                            <th>Hoạt động</th> <!-- Thêm cột Action -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each collectorData}}
                                        <tr>
                                            <td><img src="{{avatar}}" class="feedback-image" data-link="{{avatar}} "></td>
                                            <td>{{email }}</td>
                                            <td>{{phonenumber }}</td>
                                            <td>{{zalonumber }}</td>
                                            <td>{{address}}</td>
                                            <td>{{role }}</td>
                        
                                            <td>
                                         
                                                <a href="/collectors/{{id}}" class="btn btn-primary btn-sm" title="Edit user" onclick="return"><i class="bi bi-pencil"></i> </a>
                                                <a href="/collectors/delete/{{id}}" class="btn btn-danger btn-sm" title="Delete user" id="deleteBtn" data-id={{id}} ><i class="bi bi-trash"></i> </a>
                                                <a href="/collectors/blacklist/{{id}}" class="btn btn-secondary btn-sm" title="Ban user"  id="BanBtn" data-id={{id}}><i class="bi bi-person-x"></i> </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    $(document).ready(function () {
        new DataTable('#example');

        // Xử lý sự kiện click cho các ảnh
        $('.table-responsive').on('click', '.feedback-image', function() {
            var link = $(this).data('link');
            window.open(link, '_blank');
        });

        $(document).on('click', '#deleteBtn', function(e) {
        e.preventDefault();
        const id =  $(this).data('id');
        swal({
            title: "Bạn có chắc không?",
            text: "Sau khi xóa, bạn sẽ không thể khôi phục lại!",
            icon: "warning",
            buttons: [true, "Có, xóa nó đi"],
            dangerMode: true,
        }).then((willDelete)=>{
            if(willDelete)
            {
                $.ajax({
                    type: 'GET',
                    url: '/collectors/delete/' + id,
                    success: function(response) {
                        console.log(response);
                        // Xử lý thành công, có thể làm gì đó nếu cần thiết
                        swal("Đã xóa!", "Người thu gom đã được xóa", "success").then(() => {
                            window.location.href = "/collectors";
                        });
                    },
                    error: function(xhr, status, error) {
                        if(xhr.responseText == "document_delete_restricted"){
                        // Xử lý lỗi, có thể làm gì đó nếu cần thiết
                            swal("Lỗi! Đã có lỗi xảy ra!", {
                                text: error,
                                icon: "error",
                            });
                        }
                    }
                });
            }
        })
        // Gửi yêu cầu AJAX để xóa người dùng

        });

    // Xử lý sự kiện click cho nút unban
        $(document).on('click', '#BanBtn', function(e) {
            e.preventDefault();
            var id = $(this).data('id');
            swal({
                title: "Bạn có chắc không?",
                text: "Sau khi cấm, người thu mua sẽ vào danh sách đen!",
                icon: "warning",
                buttons: [true, "Có, cấm nó đi"],
                dangerMode: true,
            }).then((willDelete)=>{
                if(willDelete)
                {
                    $.ajax({
                        type: 'GET',
                        url: '/collectors/blacklist/' + id,
                        success: function(response) {
                            console.log(response);
                            // Xử lý thành công, có thể làm gì đó nếu cần thiết
                            swal("Đã cấm!", "Người thu gom đã được cấm", "success").then(() => {
                                window.location.href = "/collectors";
                            });
                        },
                        error: function(xhr, status, error) {
                            if(xhr.responseText == "document_ban_restricted"){
                            // Xử lý lỗi, có thể làm gì đó nếu cần thiết
                                swal("Lỗi! Đã có lỗi xảy ra!", {
                                    text: error,
                                    icon: "error",
                                });
                            }
                        }
                    });
                }
            })
            // Gửi yêu cầu AJAX để xóa người dùng

        });


    });
</script>