<div class="page-body-wrapper">
{{>header}}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash ">Feedback</h4>
                                </div>
                            </div>
                            <div class="table-responsive  mt-3">
                                <table id="example" class="table table-striped table-bordered table-hover"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Phone Number</th>
                                            <th>Address</th>
                                            <th>Image</th>
                                            <th>Description</th>
                                            <th>Create At</th>
                                            <th>Action</th> <!-- Thêm cột Action -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each feedbackData}}
                                        <tr>
                                            <td>{{phonenumber }}</td>
                                            <td>{{address }}</td>
                                            <td><img src="{{image}}" class="feedback-image" data-link="{{image}} "></td>
                                            <td>{{description }}</td>
                                            <td>{{createAt}}</td>
                                            <td>                                    
                                                <a href="/feedback/delete/{{id}}" class="btn btn-danger btn-sm" title="Delete feedback" id="deleteBtn" data-id={{id}}><i class="bi bi-trash"></i> </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    $(document).ready(function () {
        new DataTable('#example');

        // Xử lý sự kiện click cho các ảnh
            $('.table-responsive').on('click', '.feedback-image', function() {
                var link = $(this).data('link');
                window.open(link, '_blank');
            });

        $(document).on('click', '#deleteBtn', function(e) {
        e.preventDefault();
        const id =  $(this).data('id');
        swal({
            title: "Bạn có chắc không?",
            text: "Sau khi xóa, bạn sẽ không thể khôi phục lại!",
            icon: "warning",
            buttons: [true, "Có, xóa nó đi"],
            dangerMode: true,
        }).then((willDelete)=>{
            if(willDelete)
            {
                $.ajax({
                    type: 'GET',
                    url: '/feedback/delete/' + id,
                    success: function(response) {
                        console.log(response);
                        // Xử lý thành công, có thể làm gì đó nếu cần thiết
                        swal("Đã xóa!", "Phản hồi của người dùng đã được xóa", "success").then(() => {
                            window.location.href = "/feedback";
                        });
                    },
                    error: function(xhr, status, error) {
                        if(xhr.responseText == "document_delete_restricted"){
                        // Xử lý lỗi, có thể làm gì đó nếu cần thiết
                            swal("Lỗi! Đã có lỗi xảy ra!", {
                                text: error,
                                icon: "error",
                            });
                        }
                    }
                });
            }
        })
        // Gửi yêu cầu AJAX để xóa người dùng

        });
    });
</script>
