<div class="container custom-form" style="padding-left: 370px; padding-top:50px">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form id="myForm" enctype="multipart/form-data">
            <h1 style="text-align: center;padding-bottom:20px">Thêm người dân</h1>
            <div class="row mb-3">
              <label for="nameInput" class="col-sm-3 col-form-label">Tên:<span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="nameInput" value="{{this.name}}" placeholder="Name"
                  name="name">
              </div>
            </div>
            <div class="row mb-3">
              <label for="emailInput" class="col-sm-3 col-form-label">Email:<span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="emailInput" value="{{this.email}}"
                  placeholder="example@email.com" name="email">
              </div>
            </div>
            <div id="alertMessage" class="alert alert-danger d-none" role="alert">
              Vui lòng nhập email
            </div>
            <div id="alertMessage4" class="alert alert-danger d-none" role="alert">
              Email của bạn chưa đúng định dạng
            </div>
            <div class="row mb-3">
              <label for="passwordInput" class="col-sm-3 col-form-label">Mật khẩu:<span
                  style="color: red">*</span></label>
              <div class="col-sm-9 input-group">
                <input type="password" class="form-control" id="passwordInput" value="{{this.password}}" placeholder=""
                  name="password">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="bi bi-eye" id="togglePassword" onclick="togglePassword()"></i>
                </button>
              </div>
            </div>
            <div id="alertMessage2" class="alert alert-danger d-none" role="alert">
              Vui lòng nhập mật khẩu
            </div>
            <div id="alertMessage3" class="alert alert-danger d-none" role="alert">
              Mật khẩu phải đủ từ 8 đến 24 kí tự
            </div>
            <div class="row mb-3">
              <label for="phoneInput" class="col-sm-3 col-form-label">Số điện thoại:<span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="phoneInput" value="{{this.phonenumber}}"
                  placeholder="Phone number" name="phonenumber">

              </div>
            </div>
            <div id="alertMessage6" class="alert alert-danger d-none" role="alert">
              Vui lòng kiểm tra định dạng số điện thoại
            </div>
            <div id="alertMessage8" class="alert alert-danger d-none" role="alert">
              Email của bạn chưa đáp ứng độ dài tối thiểu (10)
            </div>
            <div class="row mb-3">
              <label for="phoneInput" class="col-sm-3 col-form-label">Zalo:<span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="zalonumberInput" value="{{this.zalonumber}}"
                  placeholder="Zalo Number" name="zalonumber">

              </div>
            </div>
            <div id="alertMessage7" class="alert alert-danger d-none" role="alert">
              Vui lòng kiểm tra định dạng số zalo
            </div>
            <div class="row mb-3">
              <label for="bioInput" class="col-sm-3 col-form-label">Địa chỉ:<span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addressInput" value="{{this.address}}" placeholder=""
                  name="address">
              </div>
            </div>

            <div id="successMessage" class="alert alert-success d-none" role="alert">
              Bạn đã thêm người dùng thành công!
            </div>
            <div id="alert5" class="alert alert-danger d-none" role="alert">
              Vui lòng nhập đầy đủ thông tin
            </div>

            <!-- New row for the submit button -->
            <div class="row">
              <div class="col-sm-10 offset-sm-2" style="padding-left:140px;"> <!-- Offset to center the button -->
                <button class="btn btn-success" type="submit" onclick="validateForm()">Xác nhận</button>
                <a href="/users" class="btn btn-light">Hủy</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script>
  function togglePassword() {
    var x = document.getElementById("passwordInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
  function validateForm() {
    // Ngăn chặn hành động mặc định của sự kiện submit
    var name = document.getElementById("nameInput").value;
    var email = document.getElementById("emailInput").value;
    var password = document.getElementById("passwordInput").value;
    var phonenumber = document.getElementById("phoneInput").value; // Thêm dòng này
    var zalonumber = document.getElementById("zalonumberInput").value;
    var address = document.getElementById("addressInput").value; // Thêm dòng này

    if (email === "" && password === "") {
      // Nếu cả hai đều rỗng, hiển thị thông báo lỗi cho cả hai
      document.getElementById("alertMessage").classList.remove('d-none');
      document.getElementById("alertMessage2").classList.remove('d-none');
      event.preventDefault();
      return false;
    } else if (email === "") {
      // Nếu chỉ email rỗng, hiển thị thông báo lỗi cho email
      document.getElementById("alertMessage").classList.remove('d-none');
      event.preventDefault();
      return false;
    } else if(email.indexOf('@') === -1 || email.split('@')[0].length < 9){
      document.getElementById("alertMessage8").classList.remove('d-none');
      event.preventDefault();
      return false;
    }  else if (password === "") {
      // Nếu chỉ password rỗng, hiển thị thông báo lỗi cho password
      document.getElementById("alertMessage2").classList.remove('d-none');
      event.preventDefault();
      return false;
    } else {
      // Nếu cả hai không rỗng, ẩn các thông báo lỗi và tiếp tục với việc gửi biểu mẫu
      document.getElementById("alertMessage").classList.add('d-none');
      document.getElementById("alertMessage2").classList.add('d-none');
            document.getElementById("alertMessage8").classList.add('d-none');
    }

    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(email)) {
      // Nếu email không đúng định dạng, hiển thị thông báo lỗi
      document.getElementById("alertMessage4").classList.remove('d-none');
      event.preventDefault();
      return false;
    } else {
      // Nếu email hợp lệ, ẩn thông báo lỗi cho email
      document.getElementById("alertMessage4").classList.add('d-none');
    }

    // check phone number và zalo number
    var phoneRegex = /^0\d{9}$/;
    if (!phoneRegex.test(phonenumber)) {
      document.getElementById("alertMessage6").classList.remove('d-none');
      event.preventDefault();
      return false;
    } else {
      document.getElementById("alertMessage6").classList.add('d-none');
    }

    // check zalo number
    if (!phoneRegex.test(zalonumber)) {
      document.getElementById("alertMessage7").classList.remove('d-none');
      event.preventDefault();
      return false;
    } else {
      document.getElementById("alertMessage7").classList.add('d-none');
    }

    // check điều kiện
    if (name === "" || address === "" || phonenumber === "" || zalonumber === "") {
      document.getElementById("alert5").classList.remove('d-none');
      event.preventDefault();
      return false;
    }
    else {
      document.getElementById("alert5").classList.add('d-none');
    }

    document.getElementById("successMessage").classList.remove('d-none');
    document.getElementById("myForm").submit();
    // If all fields are filled and phone number is valid, you can proceed with form submission      
  }

</script>