<div class="container custom-form" style="padding-left: 370px; padding-top:50px">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form id="myForm" enctype="multipart/form-data">
            <h1 style="text-align: center;padding-bottom:20px">Cập nhật người dân</h1>
            <div class="row mb-3">
              <label for="nameInput" class="col-sm-3 col-form-label">Tên:<span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="nameInput" value="{{result.name}}" placeholder="Name"
                  name="name">
              </div>
            </div>
            <div class="row mb-3">
              <label for="emailInput" class="col-sm-3 col-form-label">Email:<span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="emailInput" value="{{result.email}}"
                  placeholder="example@email.com" name="email">
              </div>
            </div>
            <div id="alertMessage" class="alert alert-danger d-none" role="alert">
              Vui lòng nhập email
            </div>
            <div id="alertMessage4" class="alert alert-danger d-none" role="alert">
              Email của bạn chưa đúng định dạng
            </div>
            <div id="alertMessage8" class="alert alert-danger d-none" role="alert">
              Email của bạn chưa đáp ứng độ dài tối thiểu (10)
            </div>
            <div class="row mb-3">
              <label for="phoneInput" class="col-sm-3 col-form-label">Số điện thoại:<span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="phoneInput" value="{{result.phonenumber}}"
                  placeholder="Phone number" name="phonenumber">
              </div>
            </div>
            <div id="alertMessage6" class="alert alert-danger d-none" role="alert">
              Vui lòng kiểm tra định dạng số điện thoại
            </div>
            <div class="row mb-3">
              <label for="phoneInput" class="col-sm-3 col-form-label">Zalo:<span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="zalonumberInput" value="{{result.zalonumber}}"
                  placeholder="Zalo number" name="zalonumber">
              </div>
            </div>
            <div id="alertMessage7" class="alert alert-danger d-none" role="alert">
              Vui lòng kiểm tra định dạng số Zalo
            </div>
            <div class="row mb-3">
              <label for="bioInput" class="col-sm-3 col-form-label">Địa chỉ:<span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addressInput" value="{{result.address}}" placeholder=""
                  name="address">
              </div>
            </div>
            <div class="row mb-3">
              <label for="roleInput" class="col-sm-3 col-form-label">Vai trò</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="roleInput" value="{{result.role}}" placeholder=""
                  name="role" readonly>
              </div>
            </div>
            <div id="successMessage" class="alert alert-success d-none" role="alert">
              Cập nhật thành công!
            </div>
            <div id="alertMessage5" class="alert alert-danger d-none" role="alert">
              Vui lòng nhập đầy đủ thông tin yêu cầu
            </div>
            <!-- New row for the submit button -->
            <div class="row">
              <div class="col-sm-10 offset-sm-2" style="padding-left:140px;"> <!-- Offset to center the button -->
                <button class="btn btn-success" type="submit" onclick="validateForm()">Xác nhận</button>
                <a href="/users" class="btn btn-light">Hủy</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script>


  function validateForm() {
    var name = document.getElementById("nameInput").value;
    var email = document.getElementById("emailInput").value;
    var phonenumber = document.getElementById("phoneInput").value; // Thêm dòng này
    var zalonumber = document.getElementById("zalonumberInput").value;
    var address = document.getElementById("addressInput").value;

    // check email xem có hợp lệ hay không
    if (email === "") {
      // Nếu chỉ email rỗng, hiển thị thông báo lỗi cho email
      document.getElementById("alertMessage").classList.remove('d-none');
      event.preventDefault();
      return false;
    }else if(email.indexOf('@') === -1 || email.split('@')[0].length < 9){
      document.getElementById("alertMessage8").classList.remove('d-none');
      event.preventDefault();
      return false;
    }  else {
      // Nếu không rỗng, ẩn các thông báo lỗi và tiếp tục với việc gửi biểu mẫu
      document.getElementById("alertMessage").classList.add('d-none');
      document.getElementById("alertMessage8").classList.add('d-none');
    }

    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(email)) {
      // Nếu email không đúng định dạng, hiển thị thông báo lỗi
      document.getElementById("alertMessage4").classList.remove('d-none');
      event.preventDefault();
      return false;
    } else {
      // Nếu email hợp lệ, ẩn thông báo lỗi cho email
      document.getElementById("alertMessage4").classList.add('d-none');
    }

    // check phone number và zalo number
    var phoneRegex = /^0\d{9}$/;
    if (!phoneRegex.test(phonenumber)) {
      document.getElementById("alertMessage6").classList.remove('d-none');
      event.preventDefault();
      return false;
    } else {
      document.getElementById("alertMessage6").classList.add('d-none');
    }

    // Kiểm tra định dạng số Zalo
    var zaloRegex = /^0\d{9}$/;
    if (!zaloRegex.test(zalonumber)) {
      document.getElementById("alertMessage7").classList.remove('d-none');
      event.preventDefault();
      return false;
    } else {
      document.getElementById("alertMessage7").classList.add('d-none');
    }


    // check điều kiện
    if (name === "" || address === "" || phonenumber === "" || zalonumber === "") {
      document.getElementById("alertMessage5").classList.remove('d-none');
      event.preventDefault();
      return false;
    }
    else {
      document.getElementById("alertMessage5").classList.add('d-none');
    }

    document.getElementById("successMessage").classList.remove('d-none');
    document.getElementById("myForm").submit();
  }
</script>