<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link to Google Fonts - Roboto -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS link -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Áp dụng font-family Roboto cho toàn bộ form */
    body, input, select, label {
      font-family: 'Times New Roman', sans-serif;
    }
  </style>
</head>

<body>
<div class="container" style="padding-left: 200px;">
  <div class="row">
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <form id="myForm" enctype="multipart/form-data">
              <div class="row mb-3">
                <label for="phoneInput" class="col-sm-2 col-form-label">Phone:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="phoneInput" value="{{result.phone_number}}" placeholder="(+84)" name="phonenumber">
                  <small id="phoneHelp" class="form-text text-muted">Please enter your phone number with country code +84.</small>
                </div>
              </div>
              <div class="row mb-3">
                <label for="addressInput" class="col-sm-2 col-form-label">Address:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="addressInput" value="{{result.address}}" placeholder="" name="address">
                </div>
              </div>

              <div class="row mb-3">
                <label for="descriptionInput" class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="descriptionInput" value="{{result.description}}" placeholder="" name="description">
                </div>
              </div>
                <div class="row mb-3">
                <label for="statusInput" class="col-sm-2 col-form-label">Status:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="statusInput" name="status">
                        <option value="{{result.status }}">Pending</option>
                        <option value="{{result.status }}" >Processing</option>
                        <option value="{{result.status }}" >Confirming</option>
                        <option value="{{result.status }}">Cancel</option>
                        <option value="{{result.status }}" >Finish</option>
                    </select>

                </div>
                </div>

                <div class="row mb-3">
                <label for="trashtypeInput" class="col-sm-2 col-form-label">Trash type:</label>
                <div class="col-sm-10">
                    
                    <select class="form-control" id="trashtypeInput" name="trashtype" >
                        <option value="{{result.trashtype}}" >Rác cồng kềnh</option>
                        <option value="{{result.trashtype}}" >Rác xây dựng</option>
                        <option value="{{result.trashtype}}" >Rác tái chế</option>
                        <option value="{{result.trashtype}}" >Rác khác</option>
                    </select>
                </div>
                </div>

              
              <!-- New row for the submit button -->
              <div class="row">
                <div class="col-sm-10 offset-sm-2" style="padding-left:150px;"> <!-- Offset to center the button -->
                  <button class="btn btn-success" type="submit" onclick="validateForm()">Comfirm</button>
                  <a href="/requests" class="btn btn-light">Cancel</a>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
<script>
  function validateForm() {

    // If everything is valid, you can proceed with form submission
    document.getElementById("myForm").submit();
  }
</script>

</html>

