
<div class="container custom-form" style="padding-left: 400px; padding-top:50px">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form id="myForm" enctype="multipart/form-data">
            <h1 style="text-align: center;padding-bottom:20px">Update User</h1>
              <div class="row mb-3">
                <label for="nameInput" class="col-sm-3 col-form-label">Name:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="nameInput" value="{{result.name}}" placeholder="Name" name="name">
                </div>
              </div>
              <div class="row mb-3">
                <label for="nameInput" class="col-sm-3 col-form-label">User name:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="nameInput" value="{{result.username}}" placeholder="User name" name="username">
                </div>
              </div>
              <div class="row mb-3">
                <label for="emailInput" class="col-sm-3 col-form-label">Email:</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="emailInput" value="{{result.email}}" placeholder="example@email.com" name="email">
                </div>
              </div>
              <div class="row mb-3">
                <label for="phoneInput" class="col-sm-3 col-form-label">Phone:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="phoneInput" value="{{result.phonenumber}}" placeholder="(+84)" name="phonenumber">
                  <small id="phoneHelp" class="form-text text-muted">Please enter your phone number with country code +84.</small>
                </div>
              </div>
              <div class="row mb-3">
                <label for="phoneInput" class="col-sm-3 col-form-label">Zalo Phone:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="zalonumberInput" value="{{result.zalonumber}}" placeholder="(+84)" name="zalonumber">
                  <small id="phoneHelp" class="form-text text-muted">Please enter your phone number with country code +84.</small>
                </div>
              </div>
              <div class="row mb-3">
                  <label for="bioInput" class="col-sm-3 col-form-label">Address:</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="bioInput" value="{{result.address}}" placeholder="" name="address">
                  </div>
              </div>

              <!-- New row for the submit button -->
              <div class="row">
                <div class="col-sm-10 offset-sm-2" style="padding-left:80px;"> <!-- Offset to center the button -->
                  <button class="btn btn-success" type="submit" onclick="validateForm()">Comfirm</button>
                  <a href="/users" class="btn btn-light">Cancel</a>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Bootstrap Bundle with Popper -->




